.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 1em 0;
}
.foot p{
    color: #84382B;
}
.logo {
  position:  relative ;
  text-align:  right ;
}
.logo span{
    font-size: 30px;
    font-weight: 800;
    color: #84382B;
}
.logo p{
    font-size: 18px;
    font-weight: 600;
    margin: -6px 0 0 0;
    color: #84382B;

}
.footIcon{
    font-size: 35px;
    margin-left: .5em;
    color: #84382B;
}
.social{
    margin: 2em 0;
}
@media (max-width: 425px) {
    .foot{
        text-align: center;
    }
}