.maincomment {
  height: 604px;
  background: #f3f1ed;
  position: relative;
}
.maincomment h1 {
  position: absolute;
  left: 138px;
  top: 91px;
  font-family: Begum Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 72px;
  color: #84382b;
}
.comment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-30%,  -50%);
}
.commentBtn {
  background: #84382b;
  border-radius: 20px;
  width: 361px;
  height: 203px;
  color: #fff;
  text-align: center;
  position: relative;
}
.commentBtn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: -10%;
  transform: translate(-50%, 10%);
}
.commentIcon {
  color: #fff;
  position: absolute;
  width: 24px;
  height: 63px;
  left: 10%;
  top: 4%;
}
.commentBtn p {
  position: absolute;
  left: 10%;
  top: 26%;
  width: 80%;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.commentBtn h2 {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -0%);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.commentBtn h3 {
  position: absolute;
  width: 166px;
  height: 24px;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -0%);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}
.commentBtn2 {
  position: relative;
  width: 359px;
  height: 245px;
  background: #84382b;
  border-radius: 20px;
} 

.commentBtn2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: -10%;
  transform: translate(-50%, 10%);
}
.commentIcon2 {
  color: #fff;
  position: absolute;
  width: 24px;
  height: 63px;
  left: 10%;
  top: 4%;
}
.commentBtn2 p {
  position: absolute;
  left: 10%;
  top: 26%;
  width: 80%;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.commentBtn2 h2 {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -0%);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.commentBtn2 h3 {
  position: absolute;
  width: 166px;
  height: 24px;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -0%);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width:950px) {
    .comment{
        width: 100%;
    }
}
@media (max-width: 768px) {
  .main{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .main h1{
    top: 10%;
  }

  .comment{
    margin-top: 160px;
    flex-direction: column;
  }
  .commentBtn{
    margin-bottom: 30px;
  }
  .commentBtn2{
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .commentBtn {
    width: 100%;
  }
  .commentBtn2 {
    width: 100%;
  }
}

